<html>
  <head>
    <title>{{title}}</title>
    <meta name="google-site-verification" content="yHb7yXDwD_SinmDs_X8aKqv4BQtCuzJwiNchjk3eg9o" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='prezpoll.css') }}">
  </head>
  <body class="bodyclass ">
    {% block content %}{% endblock %}
  <SCRIPT TYPE="text/javascript">
  
  function TestDataCheck(form)
  {
    var rd = form.vote;
    for (var i=0; el=rd[i]; i++) {
      if (el.checked) return true; 
    }
    alert("Don't Be a Coward and Pick a Candidate!");
    return false;
  }
  </SCRIPT>
    
  </body>
</html>
